<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Employment</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a
          routerLink="customize"
          class="nav-link"
          *ngIf="isAuthenticated()"
          >Configure</a
        >
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <ng-template [ngIf]="!isAuthenticated()">
        <li class="nav-item" routerLinkActive="router-link-active">
          <a routerLink="/signup" class="nav-link">Sign Up</a>
          <!-- <a [routerLink]="['/signup']" class="nav-link">Sign Up</a> -->
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a [routerLink]="['/signin']" class="nav-link">Login</a>
        </li>
      </ng-template>
      <ng-template [ngIf]="isAuthenticated()">
        <li
          class="nav-item"
          routerLinkActive="router-link-active"
        >
          <a style="cursor: pointer;" class="nav-link" (click)="onSaveData()"
            >Save Data</a
          >
        </li>
        <li
          class="nav-item"
          routerLinkActive="router-link-active"
        >
          <a style="cursor: pointer;" class="nav-link" (click)="onFetchData()"
            >Fetch Data</a
          >
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a
            style="cursor: pointer;"
            class="nav-link"
            (click)="onLogout()"
            >Logout</a
          >
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
