<nav class="navbar navbar-expand navbar-light">
  <a class="navbar-brand" routerLink="">CodeRoad</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav navbar-right">
      <ng-template [ngIf]="!(authState | async).authenticated">
        <li class="nav-item" routerLinkActive="router-link-active">
          <button
            (click)="login()"
            class="btn btn-sm align-middle btn-outline-secondary"
          >
            Admin
          </button>
        </li>
      </ng-template>
      <ng-template [ngIf]="(authState | async).authenticated">
        <button
            routerLinkActive="router-link-active"
            class="btn btn-sm align-middle btn-outline-secondary"
            (click)="onLogout()"
          >
          Logout
          </button>

      </ng-template>
    </ul>
  </div>
</nav>
<br />
<nav class="navbar navbar-expand navbar-light">
  <button
    class="navbar-toggler mr-2"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbar">
    <ul class="navbar-nav justify-content-center d-flex flex-fill">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">
          <i class="fa fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']"  routerLinkActive="router-link-active">
          <i class="fa fa-users"></i> Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']"  routerLinkActive="router-link-active">
          <i class="fa fa-sitemap"></i> Assignments</a>
      </li>
    </ul>
  </div>
</nav>
<br />
