<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup]="registerForm" (ngSubmit)="onAddEmployee()" autocomplete="off" >
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input  type="text"
                  id="name"
                  class="form-control"
                  formControlName="name"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="lastname">Lastname:</label>
          <input  type="text"
                  id="lastname"
                  class="form-control"
                  formControlName="lastname"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="charge">Charge:</label>
          <input  type="text"
                  id="charge"
                  class="form-control"
                  formControlName="charge"/>
        </div>
      </div>
      <div class="form-group">
        <label for="observations">Observations:</label>
        <textarea
          name="notes"
          class="form-control"
          rows="3"
        ></textarea>
      </div>
      <div class="row">
        <div class="btn-group col-xs-12 col-sm-12">
          <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">Add</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode" >Delete</button>
        </div>
      </div>
    </form>
  </div>
  <!-- VIEW USER DATA ON SUBMIT -->
  <!-- <div class="row" *ngIf="submitted" >
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Employee Name: {{ employeeUser.name }}</p>
      <p>Employ Lastname: {{ employeeUser.lastname }}</p>
      <p>Charge: {{ employeeUser.charge }}</p>
    </div>
  </div> -->
</div>
