<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="bd-title">Sign In</h2>
    </div>
    <div class="col text-right">
      <button
      class="btn btn-link btn-sm"
      style="cursor: pointer; color:#7b7b7b; padding:0em;"
      (click)="onCloseDialog()"
      >
      <i class="fa fa-window-close fa-2x"></i>
    </button>
    </div>
  </div>
  <br>
  <span class="text-danger text-center" *ngIf="(authState | async).authenticated" >
      Incorrect Email or Password
  </span>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <form (ngSubmit)="onSignIn(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel name="email"
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            required #email="ngModel"
          />
          <span class="text-muted" *ngIf="!email.valid && email.touched" >
            <small>
              Please enter a valid email
            </small>
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            ngModel
            class="form-control"
            required #password="ngModel"
          />
          <span class="text-muted" *ngIf="!password.valid && password.touched" >
            <small>
                Please enter your password
            </small>
          </span>
        </div>
        <button class="btn btn-dark" [disabled]="f.invalid">Sing In</button>
      </form>
    </div>
  </div>
</div>
