<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="bd-title">Sign In</h2>
    </div>
    <div class="col text-right">
      <button
      class="btn btn-link btn-sm"
      style="cursor: pointer; color:#7b7b7b;"
      (click)="onCloseDialog()"
      >
      <i class="fa fa-window-close fa-2x"></i>
    </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <form (ngSubmit)="onSignIn(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            ngModel
            class="form-control"
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            ngModel
            class="form-control"
            required
          />
        </div>
        <button class="btn btn-dark" [disabled]="f.invalid">Sing In</button>
      </form>
    </div>
  </div>
</div>
